<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">

    <link rel="stylesheet" href="../static/styles/index.css">
    <script src="../static/scripts/add.js" defer></script>
    <script src="{{ url_for('static',filename='scripts/add.js') }}" defer></script>

</head>

<body>
    <form class="add-equipment" action="/addEquipment" method="POST">
        <h2>Add Equipment</h2>

        <label for="option">Choose Equipment</label>
        <select name="option" id="option" onchange="chooseEquipmentOnChange()">
            <option value=""></option>
            <option value="add">--- New Equipment ---</option>
            {% for eq in equipment %}
            <!--Jininja loop -->
            <option value={{eq[0]}}>{{ eq[1] }}</option>
            {% endfor %}
        </select>

        <button>Add</button>
    </form>
</body>